DATABRICKS_HOST=https://adb-7405611575591318.18.azuredatabricks.net
DATABRICKS_CLIENT_ID=8b09fa92-7c66-4bef-9752-52a4ee5e9346
DATABRICKS_CLUSTER_ID=1234-567890-abcd123
DATABRICKS_WAREHOUSE_ID=1234567890abcdef
DATABRICKS_NOTEBOOK_DIR=/Shared/github-oidc-demo/dev
DATABRICKS_NOTEBOOK_PATH=/Shared/github-oidc-demo/dev/demo
